@font-face { 
font-family: "Open Sans";
src: url(../fonts/Open_Sans/OpenSans-Regular.ttf);
}

@font-face { 
font-family: "Open Sans Light";
src: url(../fonts/Open_Sans/OpenSans-Light.ttf);
}


body {
  overflow-x: hidden;
  font-family: "Open Sans", sans-serif; }


/* Overlay the body when the side menu is opened */
.overlay {
  opacity:0.7;
    filter: alpha(opacity=20);
    background-color:#000; 
    width:100%; 
    height:100%; 
    z-index:2;
    top:0; 
    left:0; 
    position:fixed; 
}

/*-------------------------------------------------------------------------------------------------
    General styling for all media sizes
--------------------------------------------------------------------------------------------------*/
    .container {
        max-width: 1260px;
        padding: 0 1.5em;
    }

    /* Styling for header */
    header {
        position: fixed;
        z-index: 1;
        height: 66px;
        width: 100%;
        -moz-transition: all .3s ease;
        -o-transition: all .3s ease;
        -webkit-transition: all .3s ease;
        transition: all .3s ease;
    }

    .product-page {
        background: #353c44;
        color: #fff;
        font-size: 1.5em;
    }

    .sign-in {
        padding-top: .5em;
    }

    .product-page .btn-primary
    {
        color: white;
        background: #0b6efd;
        border: 1px solid white;
        font-size: .5em;
        padding: .5em 1em;
    }

    .product-page .btn-primary:hover
    {
        border: 1px solid white;
    }

    /* Styling for main menu */
     #mainNav {
            border: none;
            padding-top: 8px;
            padding-bottom: 8px;
            width: 100%;
            background: #353C44; }
    

    /* Side nav styling */

    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 2;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        padding-top: 80px;
        opacity: 1;
    }

    .sidenav a {
        padding: 8px 8px 8px 20px;
        text-decoration: none;
        font-size: 14px;
        color: white;
        display: block;
        transition-duration: 3s;
    }


    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 5px;
        font-size: 36px;
        margin-left: 50px;
    }

    .sidebar-title {
        background: #111;
        color: white;
        text-transform: uppercase;
        font-size: 10px;
        padding: 6px 6px 6px 8px;
    }
    .sidebar-div {
        background: #4d4d4d; 
        border: 1px solid #111;
    }

    .sidebar-div a {
        position: relative;
    }

    .sidebar-div:hover {
        background: #8c8c8c; 
        border: 1px solid #111;
    }

    .sidebar-others {
        background: #111;
        color: white;
        padding-left: 8px;
    }

    .sidebar-others a {
        background: #111;
        color: white;
        font-size: 10px;
    }

    /* Collapsible menu styling */
    .collapse {
      display: none;
    }
    .collapse.in {
      display: block;
    }
    tr.collapse.in {
      display: table-row;
    }
    tbody.collapse.in {
      display: table-row-group;
    }

    .collapse-div {
        list-style: none;
        background: #595653;
        color: white;
        padding: .1em .2em .1em 1.8em;
        border: 1px solid #3D3734;
    }

    .collapse-div li {
        list-style: none;
        font-size: .9em;
        padding: .2em 0 .4em 0;
    }

    /* Image header */
    .image-header {
        background-image: url(../img/hp_masthead.jpg);
        background-size: cover;
        position: relative;
        top: 50px;
        height: 210px;
    }

    .image-header h2 {
        font-family: "Open Sans Light";
        font-size: 3em;
        padding-top: 2em;
        color: #fff;
    }

    section {
        padding: 60px 0px 0px 0px; 
    }

    .display-none {
        height: 10px;
    }
   

    /* Cards header */
    .cards-header-container-fluid {
    border-bottom: 3px solid #ccc;
        padding: 0;
        margin: 0;
        background: #fff;
    }

    .scroll-test {
        position: fixed;
        top: 10px;
        left: 0;
        z-index: 1000;
    }
    .apply-now-card-header {
        float: right;
        display: inline-block;
    }

    .cards-header i {
        font-size: 2em;
    }
   
    .cards-header ul {
        list-style-type: none;
        margin: 0;
    }

    .cards-header li {
        list-style-type: none;
        display: inline-block;
        text-align: center;
        padding: 1em 1.4em;

    }
     .cards-header ul a {
        text-decoration: none;
        color: grey;
    }

    .cards-header ul span {
        text-decoration: none;
        color: grey;
        display: block;
        font-size: .8em;
    }
        /* Card listing */
    .card-item {
        font-size: .8em;
        border-bottom: 1px solid #eee;
        padding-bottom: 2em;
    }


.card-item h2 {
    font-family: "Open Sans Light";
    padding: 1em 0em;
    font-size: 2em;
}

.card-item h6 {
    padding: 1em 0em;
    font-size: 1em;
    font-weight: bold;
}

    .card-column-info {
    padding: 0em .8em;
}
/* Button styling */

.card-column-info .btn-success {
    color: #fff;
    background-color: #4dbd74;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 1.3em;
    width: 100%;
}
    
.card-column-info .btn-success:hover {
    color: #fff;
    background-color: #3ea662;
     cursor:pointer;
     }

.btn-success {
    color: #fff;
    background-color: #4dbd74;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
}
    
  .btn-success:hover {
    color: #fff;
    background-color: #3ea662;
     cursor:pointer;
     }

    /* Styling for footer */
    footer {
        padding: 0;
        background-color: #EDEDED;
    }

    #footer {
        background-color: #EDEDED;
    }
    
    #footer-container-links {
        border-top: 2px solid #ccc;
        background-color: #EDEDED;
    }

    footer .container {
        padding: .5rem;
    }

    #footer-links {
        padding: 40px 0px;
        
    }

    #invis-container {
        display: none;
    }

    #mobile-invis-container {
        display: block;
        background: #EDEDED;
    }

    #mobile-invis-container a {
        font-size: 1.5em;
        padding: 1em .3em;
        color: grey;
    }

    #footer-links ul, #footer-copyrights-links ul, #mobile-invis-container ul {
        list-style: none;
        padding: 0;
    }

    #mobile-invis-container li {
        font-size: .6em;
        padding-left: 1em;
    }

    #footer-copyrights-links a {
        color: grey;
         font-size: .8em;
         text-decoration: none;
        padding: 0em .5em;
    }

    #footer-copyrights-links .copyright, #footer-copyrights-links .links{
    text-align: center;
     color: grey;
         font-size: .9em;
         text-decoration: none;
        line-height: 1.5em;
    }
#footer-copyrights-links-container {
    padding: 1em .5em;
}
    #footer-copyrights-links li {
     display: inline;
    float: center;
        padding: 0;
    }
    .credit-cards-ul {
        columns: 2;
    }
    
     #footer-links li a{
        color: grey;
         font-size: .8em;
         text-decoration: none;
    }
    
    #footer-links h6 {
       font-size: 
    }

    ul.social-buttons {
        margin-bottom: 0; }
    ul.social-buttons li a {
    padding: 0rem .5rem;
    font-size: 1.6em;
    line-height: 40px;
    width: 40px;
    height: 40px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    color: #717171;
    outline: none;
    background-color: #EDEDED; 
    text-align: center;}
    ul.social-buttons li a:active, ul.social-buttons li a:focus, ul.social-buttons li a:hover {
      color: darkslategrey; }




    @media (min-width: 768px) {


  #footer {
            background-color: #EDEDED;
        }

        #footer-container-links {
            border-top: 2px solid #ccc;
            background-color: #EDEDED;

        }

        footer {
        padding: 0 2rem;
        background-color: #EDEDED;

        }

        #footer-links {
            padding: 40px 0px;

        }

         #invis-container {
        display: block;
        }
        
        #mobile-invis-container{
            display: none;
        }
        
        #footer-links ul {

            list-style: none;
            padding: 0;
        }

        .credit-cards-ul {
            columns: 2;
        }

         #footer-links li a{
            color: grey;
             font-size: .8em;
             text-decoration: none;
        }

         #footer-copyrights-links {
               background-color: #FFF;
                padding: 1em 2em;
            }

        #footer-copyrights-links-container{
              font-size: .7em;
        }

        #footer-copyrights-links ul {
            list-style-type: none;
            padding: none;
            display: inline; 
        }

        #footer-copyrights-links li {
            display: inline;
            float: center;

        }

        #footer-copyrights-links a {
            color: grey;
             font-size: 1em;
             text-decoration: none;
            padding: 0px 10px;
        }

        #footer-copyrights-links .copyright {
            text-align: left;
             color: grey;
             font-size: 1em;
             text-decoration: none;
        }
        #footer-copyrights-links .links {
            text-align: right;
             color: grey;
             font-size: 1em;
             text-decoration: none;
        }



    }